/* card */
.cardsStyles{
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns:1fr 1fr 1fr ;
}
.cardsStyle{
    display:grid;
    justify-content: center;
    align-items: center;
    height:500px;
    margin:auto;
}
.colstyle{
    width:280px;
}
.imgSize{
    width:100%;
    height: 100%;
}